/*-------------------------------------------------------------
    RESET
 --------------------------------------------------------------*/


html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}



/*-------------------------------------------------------------
    BASE
 --------------------------------------------------------------*/

body {
    font-family: 'Lato', sans-serif;
    color: #8e8e8e;
    line-height: 1.5; /* Toujours augmenter un peu pour que ce soit lisible */
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}


/*-------------------------------------------------------------
    MODULES
 --------------------------------------------------------------*/

/* --- MENU DE GAUCHE */
.menu {
    width: 25%;
    height: 100vh;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: 0;
}

.menu h2 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 1.5rem; /* 24px */

    color: #fff;
}

.padding {
    padding: 45px;
}

/* Médias sociaux */
.media ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    border-bottom: 1px solid #8e8e8e;
}

.media ul li {
    padding: 30px 0 40px;
}

.media a {
    font-size: 2rem; /* 32px */
}

.media a:hover {
    color: #de1255;
}

/* Navigation principale */
.princ ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.princ li {
    display: flex;
}

.princ a {
    flex-grow: 1; /* Pour que chaque élément prenne toute la place */

    font-family: 'PT Serif', serif;
    font-size: 24px;


    padding: 20px 45px;
    color: #fff;
}

.princ li:hover {
    background-color: #002f5f;
    padding-left: 20px;
}


/* --- ZONE PRINCIPALE */
.main {
    padding-left: 33.3333%;
    padding-right: 8.3333%;
}

/* Header */
.main header a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main h1 {
    color: #002f5f;
}

.main h1 span {
    color: #de1255;
    margin-left: 10px;
}

.main h1 img {
    width: 70px;
    margin-left: 20px;
}

/* Les articles */
h3 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    color: black;
}

.main article {
    display: flex;

    border-bottom: 1px #ebebeb solid;
    margin-bottom: 45px;
    padding-bottom: 35px;
}

.main article a {
    color: #de1255;
}

.main article:nth-child(odd) a {
    color: #002f5f;
}

.main auteur, article a {
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

.main article a:nth-child(2n) {
    font-weight: 700;
    font-size: 16px;
}

/* Date */
.main .date p {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 25px;
    color: #de1255;

    border-radius: 50%;
    border: 10px solid #ebebeb;
    width: 110px;
    height: 110px;
}

.content .auteur {
    padding-left: 20px;
    border-bottom: 1px #ebebeb solid;
    margin-top: 55px;
}


/* Page article.html */
article img {
    width: 100%;
}

article .duo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .duo h3 {
    color: #8e8e8e;
    margin: 0;
    padding: 0 0 0 20px;
    width: 75%;
}
